.login-card{
    border-radius: 5px;
}
.text-center{
    p{
        color: #989393d1;
        font-size: 12px;
        margin: 5px 0 10px 0;

        span{
            color: rgb(147 147 12);
        }
    }
}