/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100vh;
    max-width: 100%;
    margin: auto;
    background-color: #000;
  }
.h-100{
    height: 100vh;
}
.w-50{
  width: 50%;
}
.bg-black{
    background-color: #000;
}
.bg-light-black{
  background-color: #272424;
}
.text-light{
    color: #fff;
}